{% set current = 'Home' %}
{% extends 'layouts/layout.html' %}

{% block styles %}
<!-- build:css assets/styles/home.css -->
<link href="/assets/styles/home.css" rel="stylesheet" />
<!-- endbuild -->
{% endblock %}

{% block body %}
<div class="home">
  <h2>推荐</h2>
  <div class="videos">
  </div>
</div>
{% endblock %}

{% block scripts %}
<!-- build:js assets/scripts/index.js -->
<script src="/assets/scripts/index.js"></script>
<!-- endbuild -->
<script id="tpl-video" type="text/html">
  [[ each videos ]]
  <a href="/watch/[[$value.id]]">
    <div class="video">
      <img
        class="thumb"
        src="[[$value.thumbnail]]"
        alt="thumbnail"
      />
      <div class="video-info-container">
        <div class="channel-avatar">
          <img
            src="[[$value.User.avatar]]"
            alt="channel avatar"
            class="sc-AxhCb eSwYtm"
            style="margin-right: 0.8rem"
          />
        </div>
        <div class="video-info">
          <h4>[[$value.title]]</h4>
          <span class="secondary">
            [[$value.User.username]]
          </span>
          <p class="secondary">
            <span>[[$value.views]] views</span> <span>•</span>
            <span>[[$value.createdAt | relativeTime]]</span>
          </p>
        </div>
      </div>
    </div>
  </a>
  [[ /each ]]
</script>
{% endblock %}
