{% set current = 'Subscriptions' %}

{% extends 'layouts/layout.html' %}

{% block styles %}
<link href="/assets/styles/subscriptions.css" rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="content">
    <h2>为你推荐</h2>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/738d8793-6f1f-465c-8b2c-5ce2ac0d8be2"
        >
        <img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>ew32</h3>
          <p class="secondary">
            <span>7 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">0 videos</span>
          </p>
        </div>
      </a>
      <button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/17396dbd-8cb2-4866-804c-f1c928adc200"
        ><img
          src="https://res.cloudinary.com/tylerdurden/image/upload/v1610602675/youutbeclone/cyytoyb0dtzouizokimz.jpg"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>manikandanraji</h3>
          <p class="secondary">
            <span>24 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">5 videos</span>
          </p>
          <p class="description secondary">my application video demos</p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/0b39ae9c-611b-41e9-99f3-b9e5c1b15596"
        ><img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>zhishiqu</h3>
          <p class="secondary">
            <span>4 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">0 videos</span>
          </p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/bcb6ce6e-2868-4e45-b4ac-d58b84ee22de"
        ><img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>gamer</h3>
          <p class="secondary">
            <span>2 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">0 videos</span>
          </p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/c36b5b0a-88b4-4d57-8036-8b23e0ff9e0a"
        ><img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>logeshs</h3>
          <p class="secondary">
            <span>2 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide"> videos</span>
          </p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/8c31e070-bf48-4fa0-ba62-5c6e0d9cfb57"
        ><img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>aman</h3>
          <p class="secondary">
            <span>2 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">0 videos</span>
          </p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/7b723220-714c-49e8-b155-10198fe1b5ca"
        ><img
          src="https://res.cloudinary.com/tylerdurden/image/upload/v1610614737/youutbeclone/zbnsciqhopcx6vbl4qbm.jpg"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>asdasdasd</h3>
          <p class="secondary">
            <span>5 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">0 videos</span>
          </p>
          <p class="description secondary">&lt;p&gt;mantap&lt;/p&gt;</p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/40a3ab34-7784-47f7-853b-1070cde99423"
        ><img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>sarah</h3>
          <p class="secondary">
            <span>2 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide"> videos</span>
          </p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/017fb086-8dc1-4480-a88a-9c4333dfc7cb"
        ><img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>Arte</h3>
          <p class="secondary">
            <span>2 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">0 videos</span>
          </p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
    <div class="user-list">
      <a
        class="avatar-channel"
        href="/channel/6edb74dc-481a-49b8-a836-b534cb683783"
        ><img
          src="https://res.cloudinary.com/douy56nkf/image/upload/v1594060920/defaults/txxeacnh3vanuhsemfc8.png"
          alt="avatar"
        />
        <div class="channel-info-meta">
          <h3>qew323131</h3>
          <p class="secondary">
            <span>2 subscribers</span> <span class="to-hide">•</span>
            <span class="to-hide">0 videos</span>
          </p>
        </div></a
      ><button class="btn">Subscribe</button>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  console.log('page builtin scripts')
</script>
{% endblock %}
