{% set current = 'Trending' %}
{% extends 'layouts/layout.html' %}

{% block styles %}
<!-- build:css assets/styles/trending.css -->
<link href="/assets/styles/trending.css" rel="stylesheet" />
<!-- endbuild -->
{% endblock %}

{% block body %}
  <div class="content">
    <h2>时下流行</h2>
    <div class="trending">
      <a href="/watch/3ac30e23-45a6-4eca-9430-3654142a772c">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1610602989/youutbeclone/jcxdkn7kwykw2oyk95up.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>Twitter clone</h3>
            <p class="secondary">
              <span>manikandanraji</span><span>•</span><span>8 views</span
              ><span>•</span> <span>38 days ago</span>
            </p>
            <p class="secondary">twitter clone using graphql</p>
          </div>
        </div>
      </a>
      <a href="/watch/b4bafa92-b60d-40a8-ad50-ecd47406edd5">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1610602919/youutbeclone/ahgq3a0glak3sjahvx6n.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>Instaclone</h3>
            <p class="secondary">
              <span>manikandanraji</span><span>•</span><span>3 views</span
              ><span>•</span> <span>38 days ago</span>
            </p>
            <p class="secondary">Instagram clone using MERN stack</p>
          </div>
        </div>
      </a>
      <a href="/watch/c0aaf601-810e-4573-83e6-44b17c621d15">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1612939711/youutbeclone/fuibvofbks2lxjffpfed.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>Earth from the space !</h3>
            <p class="secondary">
              <span>terekhov</span><span>•</span><span>2 views</span
              ><span>•</span> <span>11 days ago</span>
            </p>
            <p class="secondary">Take a look at that! That's fucking Earth.</p>
          </div>
        </div>
      </a>
      <a href="/watch/05f411f6-9c9d-4e97-8d65-47847cd99e87">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1610602948/youutbeclone/oyd7npz8vjcspr2musrl.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>Youtubeception</h3>
            <p class="secondary">
              <span>manikandanraji</span><span>•</span><span>2 views</span
              ><span>•</span> <span>38 days ago</span>
            </p>
            <p class="secondary">Demo of this yt clone</p>
          </div>
        </div>
      </a>
      <a href="/watch/e73d8a64-0819-4cb9-be16-fe4599814a61">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1610602785/youutbeclone/bnzylyplrysa8kmymvye.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>Podcasts Webapp</h3>
            <p class="secondary">
              <span>manikandanraji</span><span>•</span><span>2 views</span
              ><span>•</span> <span>38 days ago</span>
            </p>
            <p class="secondary">spotcasts - listen to your favorite podcasts</p>
          </div>
        </div>
      </a>
      <a href="/watch/4c9a962a-5f07-4dcf-9e6e-bf5407cf9d48">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1613876596/youutbeclone/xtjq2ahyipkkyoseo86m.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>tesst video</h3>
            <p class="secondary">
              <span>dejah53326</span><span>•</span><span>1 views</span
              ><span>•</span> <span>6 hours ago</span>
            </p>
            <p class="secondary">hahahahaa</p>
          </div>
        </div>
      </a>
      <a href="/watch/f305903e-9a50-43e5-a224-012010adf903">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1613405378/youutbeclone/mysj6sqfloxkgk5kpwj5.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>this is new</h3>
            <p class="secondary">
              <span>samb</span><span>•</span><span>1 views</span><span>•</span>
              <span>5 days ago</span>
            </p>
            <p class="secondary">this is greate.</p>
          </div>
        </div>
      </a>
      <a href="/watch/8b4f42c7-8118-4671-8098-e994ebc6524b">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1612585928/youutbeclone/okh2hijt3sifqvaal7sq.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>321321</h3>
            <p class="secondary">
              <span>lipengzhou</span><span>•</span><span>1 views</span
              ><span>•</span> <span>15 days ago</span>
            </p>
            <p class="secondary">321321</p>
          </div>
        </div>
      </a>
      <a href="/watch/9bb2a209-032f-4955-96a4-d0adf6b5e053">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1613596057/youutbeclone/qnr1eodv9nkc683n34m5.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>Furlise piano video</h3>
            <p class="secondary">
              <span>christian</span><span>•</span><span>0 views</span
              ><span>•</span> <span>3 days ago</span>
            </p>
            <p class="secondary">this video is about my best music</p>
          </div>
        </div>
      </a>
      <a href="/watch/f6b887e0-08e1-4cfb-a08e-3ec84e925123">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1613400827/youutbeclone/iib7errjd19dizasdnp4.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>as</h3>
            <p class="secondary">
              <span>drto4</span><span>•</span><span>0 views</span><span>•</span>
              <span>5 days ago</span>
            </p>
            <p class="secondary">asd</p>
          </div>
        </div>
      </a>
      <a href="/watch/f9dae74d-8aad-499b-bd62-ef28e44a74fd">
        <div class="video">
          <img
            class="thumb"
            src="https://res.cloudinary.com/tylerdurden/video/upload/v1610602720/youutbeclone/xrtkzszgbffj6hbtwdju.jpg"
            alt="thumbnail"
          />
          <div class="video-info-container">
            <h3>Leetcode styled SPA</h3>
            <p class="secondary">
              <span>manikandanraji</span><span>•</span><span>0 views</span
              ><span>•</span> <span>38 days ago</span>
            </p>
            <p class="secondary">kinda similar to leetcode</p>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endblock %}

{% block scripts %}
<script>
  console.log('page builtin scripts')
</script>
{% endblock %}
